<nav class="sidebar-nav">
  <a re class="sidebar-btn" href="../index.html">
    <i class="fa-solid fa-grip-vertical"></i>
  </a>
  <a class="sidebar-btn" href="../appointments.html">
    <i class="fa-solid fa-calendar"></i>
  </a>
  <a class="sidebar-btn" href="../test-results-page.html">
    <i class="fa-solid fa-user-group"></i>
  </a>
  <a class="sidebar-btn" href="../doctors-list.html">
    <i class="fa-solid fa-user-doctor"></i>
  </a>
  <a class="sidebar-btn" href="../chat.html">
    <i class="fa-solid fa-message"></i>
  </a>
  <a class="sidebar-btn">
    <i class="fa-solid fa-star"></i>
  </a>
  <a class="sidebar-btn">
    <i class="fa-solid fa-wallet"></i>
  </a>
</nav>

<div class="sidebar-bottom">
  <button class="sidebar-btn">
    <i class="fa-solid fa-gear"></i>
  </button>
</div>
